<oglasi-header></oglasi-header>
<div class="row">
  <div class="col col-lg-4 col-md-4 col-sm-3 col-xs-12"></div>
  <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="jumbotron registracija">

      <p> Enter Name:</p>
      <input ng-model="ime" type="text" value="" >
      <p> Enter Email:</p>
      <input ng-model="email" type="text">
      <p> Enter Password:</p>
      <input ng-model="pass1" type="password">
      <p> Confirm Password:</p>
      <input ng-model="pass2" type="password">
      <div ng-click="potvrdi()" class="btn btn-lg btn-success">Confirm Registration</div>
  </div>
</div>
<div class="col col-lg-4 col-md-4 col-sm-3 col-xs-12"></div>
</div>
<oglasi-footer></oglasi-footer>
